@media (max-width: 1358px)
  .description-slider
    padding: 100px 0
    &__bg-block
      right: 40px
      height: 439px
      width: 500px
      &>img
        width: 350px
        height: 350px
    &__switches
      right: 40px
      width: 500px

  .description-slider-slide
    &__img
      width: 577px
      height: 610px

@media (max-width: #{$md1 + px})
  .description-slider
    padding: 80px 0
    &__bg-block
      right: 10px
      height: 368px
      width: 439px
      &>img
        width: 290px
        height: 290px
    &__switches
      right: 10px
      width: 439px

  .description-slider-slide
    &__description
      max-width: 440px
    &__img
      width: 459px
      height: 533px
    &__type
      margin: 0 0 30px 0
    &__title
      margin: 0
    &__subtitle
      margin: 0 0 40px 0
    &__text
      margin: 0 0 50px 0

  .learn-more
    padding: 20px 25px
  .view-more
    padding: 20px 25px

  .futured-block-tabs
    &__element
      grid-template-columns: repeat(3, 1fr)

@media (max-width: 992px)
  .header
    &__user-list
      display: none
    &-menu
      &__item
        &:nth-child(8),
        &:nth-child(7),
        &:nth-child(6)
          display: none
    &__subtitle
      font-size: 10px
  .dropdown-header-menu
    &__user-list
      position: relative
      display: flex
      flex-direction: column
      align-items: center
      &-item
        margin: 0 0 20px 0
        font-family: Poppins
        font-weight: normal
        font-size: 12px
        line-height: 18px
        &>a
          color: #000000
      &::before
        content: ''
        position: absolute
        bottom: 8.5px
        left: -65px
        width: 270px
        height: 1px
        background-color: #777777

  .preview
    padding: 70px 0 0 0
    &__img
      width: 335px
      height: 341px

  .description-slider
    padding: 50px 0
    &__bg-block
      right: 50%
      bottom: 210px
      top: auto
      transform: translate(50%, 0)
      &>img
        width: 290px
        height: 290px
    &__switches
      right: 50%
      bottom: 381px
      top: auto
      width: 439px
      transform: translate(50%, 0)
    &__slide
      position: relative
      flex-direction: column
      padding: 0 0 94px 0

  .description-slider-slide
    &__description
      max-width: 100%
      align-items: center
      margin: 0 0 23px 0
    &__img
      width: 100%
    &__type
      margin: 0 0 30px 0
    &__subtitle
      margin: 0 0 37px 0
    &__text
      margin: 0
      max-width: 470px
      text-align: center
    &__buttons
      position: absolute
      bottom: 0
      left: 50%
      max-width: 439px
      transform: translate(-50%, 0)

  .learn-more
    padding: 20px 25px
  .view-more
    padding: 20px 25px

  .futured-block-tabs
    &__element
      grid-template-columns: repeat(2, 1fr)

@media (max-width: 768px)
  .futured-block
    padding: 70px 0
    &-tabs
      &__element
        grid-gap: 80px 60px

@media (max-width: 550px)
  .description-slider
    padding: 50px 0
    &__bg-block
      bottom: 130px
      height: 250px
      width: 300px
      &>img
        width: 200px
        height: 200px
    &__switches
      bottom: 247px
      width: 300px
    &__slide
      padding: 0 0 94px 0

  .description-slider-slide
    &__description
      max-width: 100%
      align-items: center
      margin: 0 0 23px 0
    &__img
      height: 350px
      width: 100%
    &__buttons
      max-width: 99%

  .futured-block-tabs
    &__element
      grid-template-columns: repeat(1, 1fr)

@media (max-width: 515px)
  .header
    &__top
      display: flex
      flex-direction: column
      align-items: center
      padding: 45px 0 0 0
    &__bottom
      display: none
    &__logo
      position: static
      transform: translate(0, 0)
      order: -1
      margin: 0 0 7px 0
    &__subtitle
      font-size: 14px
      text-align: center
    &__helping-icons-block
      position: fixed
      top: 0
      left: 0
      z-index: 101
      width: 100vw
      padding: 7px 15px
      background: rgba(255, 255, 255, 0.17)
    &__search-icon
      margin: 0 auto 0 0
    &__wallet-icon
      margin: 0 33px 0 0

  .search-form
    height: 48px
    &::placeholder
      font-size: 15px

  .dropdown-header-menu
    position: fixed
    top: 38px
    right: 0
    width: 100vw
    height: 100vh
    padding: 40px 80px
    border-radius: 0
    &__user-list
      &::before
        bottom: 8.5px
        left: -100vw
        width: 300vw
    &__list
      padding: 0 0 60px 0

  .preview
    padding: 40px 0 0 0
    &__img
      width: 255px
      height: 260px

  .futured-block
    padding: 50px 0
    &-tabs-navigation
      &__item:not(:last-child)
        margin: 0 30px 0 0

@media (max-width: 435px)
  .exl-modal
    &__dialog
      padding: 10px 20px
      font-size: 17px
      line-height: 30px

  .description-slider
    padding: 40px 0
    &__bg-block
      bottom: 130px
      height: 220px
      width: 260px
      &>img
        width: 170px
        height: 170px
    &__switches
      bottom: 233px
      width: 260px
    &__slide
      padding: 0 0 94px 0

  .description-slider-slide
    &__description
      margin: 0 0 12px 0
    &__title
      margin: 0 0 10px 0
    &__subtitle
      margin: 0 0 20px 0
    &__img
      height: 320px
      width: 100%
